In [59]:
import pandas.util.testing as tm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import os

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [107]:
df_ga = pd.read_csv('ga_traffic.csv')
lats = {}
lons = {}

cities = df_ga['City'].unique()
for city in cities:
    latitudes = np.array(df_ga[df_ga['City']==city]['Start_Lat']).reshape((-1, 1))
    longitudes = np.array(df_ga[df_ga['City']==city]['Start_Lng']).reshape((-1, 1))
    lats[city] = StandardScaler().fit(latitudes)
    lons[city] = StandardScaler().fit(longitudes)
df_ga['Start_Lat'] = df_ga.apply(lambda x: lats[x['City']]
                                .transform(np.array(x['Start_Lat']).reshape(-1,1))[0,0], axis=1)
df_ga['Start_Lng'] = df_ga.apply(lambda x: lons[x['City']]
                                .transform(np.array(x['Start_Lng']).reshape(-1,1))[0,0], axis=1)

df_ga.to_csv('./df_ga.csv',index=False)

In [106]:
df_ga.head()

,Source,TMC,Severity,Start_Lng,Start_Lat,Distance(mi),Side,City,County,Timezone,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Hour,Weekday,Time_Duration(min)
0,MapQuest,245.0,3.0,0.008082,-0.278581,0.01,R,Fairburn,Fulton,US/Eastern,...,0.0,0.0,0.0,0.0,0.0,0.0,Day,15.0,Wed,133.0
1,MapQuest,201.0,3.0,-2.196948,-0.271424,0.01,R,Atlanta,Fulton,US/Eastern,...,0.0,0.0,0.0,0.0,0.0,0.0,Day,15.0,Wed,89.0
2,MapQuest,229.0,3.0,-1.629586,-0.004200,0.01,R,Atlanta,Fulton,US/Eastern,...,0.0,0.0,0.0,0.0,0.0,0.0,Day,14.0,Wed,135.0
3,MapQuest,201.0,2.0,-0.387087,-1.163826,0.01,R,Atlanta,Fulton,US/Eastern,...,0.0,0.0,0.0,0.0,0.0,0.0,Day,16.0,Wed,30.0
4,MapQuest,201.0,3.0,-0.166660,-1.175989,0.01,R,Atlanta,Fulton,US/Eastern,...,0.0,0.0,0.0,0.0,0.0,0.0,Day,16.0,Wed,45.0

In [109]:
# one_hot_df_ga = df_ga.copy()

# one_hot_df_ga = pd.get_dummies(df_ga['City'])
# one_hot_df_ga.sort_values(by=['Distance(mi)'], inplace = True, ascending=False)

# test_df_ga.head(10)

KeyError: 'Distance(mi)'

In [89]:
# y = df_ga[target]
# X = df_ga.drop(target, axis=1)
# X_train_ga, X_test_ga, y_train_ga, y_test_ga = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)
# train_df_ga = pd.concat([X_train_ga, y_train_ga])
# test_df_ga = pd.concat([X_test_ga, y_test_ga])
# train_df_ga.to_csv('./train.csv_df_ga',index=False)
# test_df_ga.to_csv('./test.csv_df_ga',index=False)
# # train_df_ga.head()
# test_df_ga.head()

In [99]:
# target='Severity'

# y = df_ga[target]
# X = df_ga.drop(target, axis=1)

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)
# # print(X_train)
# # print(y_train)
# train = pd.concat([X_train, y_train])
# test = pd.concat([X_test, y_test])
# train.to_csv('./train.csv',index=False)
# test.to_csv('./test.csv',index=False)

In [91]:
test.head()

,0,Amenity,Bump,City,County,Crossing,Distance(mi),Give_Way,Hour,Humidity(%),...,Temperature(F),Time_Duration(min),Timezone,Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Weekday,Wind_Direction
10454,NaN,0.0,0.0,Atlanta,Cobb,0.0,0.00,0.0,8.0,87.0,...,73.0,30.0,US/Eastern,0.0,0.0,0.0,10.0,Mostly Cloudy,Mon,SSW
1934,NaN,0.0,0.0,Atlanta,Fulton,0.0,0.01,0.0,7.0,82.0,...,30.0,59.0,US/Eastern,0.0,0.0,0.0,10.0,Clear,Thu,Calm
33779,NaN,0.0,0.0,Atlanta,Fulton,0.0,0.00,0.0,8.0,66.0,...,50.0,60.0,US/Eastern,0.0,1.0,0.0,10.0,Overcast,Fri,WNW
24700,NaN,0.0,0.0,Hephzibah,Richmond,0.0,0.00,0.0,7.0,91.0,...,76.0,60.0,US/Eastern,0.0,0.0,0.0,3.0,Cloudy,Wed,N
26832,NaN,0.0,0.0,Atlanta,Fulton,0.0,2.35,0.0,18.0,49.0,...,83.0,108.0,US/Eastern,0.0,0.0,0.0,6.0,Haze,Tue,CALM

In [92]:
train.head()

,0,Amenity,Bump,City,County,Crossing,Distance(mi),Give_Way,Hour,Humidity(%),...,Temperature(F),Time_Duration(min),Timezone,Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Weekday,Wind_Direction
12146,NaN,0.0,0.0,Newnan,Coweta,1.0,0.01,0.0,6.0,99.0,...,59.2,30.0,US/Eastern,0.0,0.0,0.0,10.0,Overcast,Wed,NNW
42421,NaN,0.0,0.0,Atlanta,Fulton,0.0,0.00,0.0,7.0,100.0,...,70.0,30.0,US/Eastern,0.0,0.0,0.0,10.0,Clear,Tue,Calm
41650,NaN,0.0,0.0,Stockbridge,Henry,0.0,0.00,0.0,19.0,54.0,...,82.9,30.0,US/Eastern,0.0,0.0,0.0,10.0,Scattered Clouds,Fri,SSE
32279,NaN,0.0,0.0,Alpharetta,Fulton,0.0,0.00,0.0,12.0,90.0,...,54.0,45.0,US/Eastern,0.0,0.0,0.0,6.0,Light Rain,Fri,WNW
45430,NaN,0.0,0.0,Augusta,Richmond,0.0,0.00,0.0,11.0,82.0,...,82.0,44.0,US/Eastern,0.0,0.0,0.0,10.0,Scattered Clouds,Tue,South

In [87]:
# lats = {}
# lons = {}

# cities = train_df_ga['City'].unique()
# # cities.head()
# for city in cities:
#     latitudes = np.array(train_df_ga[train_df_ga['City']==city]['Start_Lat']).reshape((-1, 1))
#     longitudes = np.array(train_df_ga[train_df_ga['City']==city]['Start_Lng']).reshape((-1, 1))
#     lats[city] = StandardScaler().fit(latitudes)
#     lons[city] = StandardScaler().fit(longitudes)
# train_df_ga['Latitude'] = train_df_ga.apply(lambda x: lats[x['City']]
#                                 .transform(np.array(x['Start_Lat']).reshape(-1,1))[0,0], axis=1)
# train_df_ga['Longitude'] = train_df_ga.apply(lambda x: lons[x['City']]
#                                 .transform(np.array(x['Start_Lng']).reshape(-1,1))[0,0], axis=1)
# test_df_ga['Latitude'] = test_df_ga.apply(lambda x: lats[x['City']]
#                                 .transform(np.array(x['Start_Lat']).reshape(-1,1))[0,0], axis=1)
# test_df_ga['Longitude'] = test_df_ga.apply(lambda x: lons[x['City']]
#                                 .transform(np.array(x['Start_Lng']).reshape(-1,1))[0,0], axis=1)

# print(train_df_ga.shape, 'train')
# print(test_df_ga.shape, 'test')

In [95]:
# Preprocess
# One hot encode City using pandas.get_dummies

test_train = train.copy()
test_test = test.copy()

train_cities = pd.get_dummies(train['City'])
test_train = pd.concat([train, train_cities], axis = 1)

test_cities = pd.get_dummies(test['City'])
test_test = pd.concat([test, test_cities], axis = 1)

test_train.sort_values(by=['Distance(mi)'], inplace = True, ascending=False)
test_test.sort_values(by=['Distance(mi)'], inplace = True, ascending=False)

test_test.head(10)

,0,Amenity,Bump,City,County,Crossing,Distance(mi),Give_Way,Hour,Humidity(%),...,Waycross,Waynesboro,West Point,White,White Plains,Wildwood,Winder,Winston,Woodbine,Woodstock
48022,NaN,0.0,0.0,Midway,Liberty,0.0,17.98,0.0,17.0,26.0,...,0,0,0,0,0,0,0,0,0,0
47218,NaN,0.0,0.0,Darien,McIntosh,0.0,15.16,0.0,20.0,55.0,...,0,0,0,0,0,0,0,0,0,0
18902,NaN,0.0,0.0,Port Wentworth,Chatham,0.0,14.63,0.0,13.0,61.0,...,0,0,0,0,0,0,0,0,0,0
27243,NaN,0.0,0.0,Port Wentworth,Chatham,0.0,14.62,0.0,4.0,93.0,...,0,0,0,0,0,0,0,0,0,0
59564,NaN,0.0,0.0,Riceboro,Liberty,0.0,13.94,0.0,5.0,88.0,...,0,0,0,0,0,0,0,0,0,0
49482,NaN,0.0,0.0,LaGrange,Troup,0.0,13.20,0.0,21.0,60.0,...,0,0,0,0,0,0,0,0,0,0
27509,NaN,0.0,0.0,Hogansville,Troup,0.0,13.08,0.0,18.0,47.0,...,0,0,0,0,0,0,0,0,0,0
13026,NaN,0.0,0.0,Duluth,Gwinnett,0.0,12.80,0.0,18.0,24.0,...,0,0,0,0,0,0,0,0,0,0
52941,NaN,0.0,0.0,Temple,Carroll,0.0,12.24,0.0,11.0,95.0,...,0,0,0,0,0,0,0,0,0,0
43136,NaN,0.0,0.0,Bremen,Carroll,0.0,12.21,0.0,2.0,82.0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
test_train.head(10)

,0,Amenity,Bump,City,County,Crossing,Distance(mi),Give_Way,Hour,Humidity(%),...,Williamson,Winder,Winston,Woodbine,Woodbury,Woodstock,Wray,Wrens,Wrightsville,Zebulon
31994,NaN,0.0,0.0,Fort Stewart,Liberty,0.0,64.330002,0.0,6.0,100.0,...,0,0,0,0,0,0,0,0,0,0
25580,NaN,0.0,0.0,Lavonia,Franklin,0.0,31.080000,0.0,20.0,60.0,...,0,0,0,0,0,0,0,0,0,0
57838,NaN,0.0,0.0,Braselton,Jackson,0.0,22.719999,0.0,22.0,69.0,...,0,0,0,0,0,0,0,0,0,0
21010,NaN,0.0,0.0,Hoschton,Barrow,0.0,20.230000,0.0,22.0,51.0,...,0,0,0,0,0,0,0,0,0,0
45108,NaN,0.0,0.0,Midway,Liberty,0.0,17.760000,0.0,11.0,68.0,...,0,0,0,0,0,0,0,0,0,0
20427,NaN,0.0,0.0,Midway,Liberty,0.0,17.629999,0.0,23.0,93.0,...,0,0,0,0,0,0,0,0,0,0
18816,NaN,0.0,0.0,Richmond Hill,Bryan,0.0,17.620001,0.0,14.0,57.0,...,0,0,0,0,0,0,0,0,0,0
32396,NaN,0.0,0.0,Thomson,McDuffie,0.0,17.459999,0.0,10.0,41.0,...,0,0,0,0,0,0,0,0,0,0
20026,NaN,0.0,0.0,Midway,Liberty,0.0,17.410000,0.0,22.0,47.0,...,0,0,0,0,0,0,0,0,0,0
32708,NaN,0.0,0.0,Hoschton,Barrow,0.0,17.250000,0.0,16.0,18.0,...,0,0,0,0,0,0,0,0,0,0